/* app css stylesheet */

body{
  font-family: 'Roboto', sans-serif;
  /* background-color: #F0F2F2;  Light Grey */ 
  background-color: #004d40;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 2em;
  /*background-color: #79949B;*/
  background-color: #00796b;
  margin-top: 0;
}

ul{
  list-style: none;
  float: right;
}

li{
  float: left;
}

md-dialog-content{
  padding: 10px;
}

md-dialog-content div{
    padding: 5px;
  }

#title{
  display: inline;
  font-size: 250%;
  color: #F0F2F2;
  font-family: 'Merriweather', serif;
}

#timer_countdown {
	font-size: 600%;
	margin-bottom: 2px;
	margin-top: 2px;
	text-align: center;
  color: #F0F2F2;
}

.card{
  margin: 50px;
}

.styled-button{
    color: #F0F2F2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:0 auto;
    transition: all .5s ease-out;
    border: none;
    padding: 10px;
}


.styled-button:focus {
  outline:0;
}

.startButton {
    display: block;
    width: 200px;
    height: 90px;
    font-size: 32px;
}

.button-paused{
  /*background-color: #731963;  Red */ 
  background-color: #880e4f
}

.button-unpaused{
	background-color: #0B3C49; /* Green */
}

.reset-button{
	background-color: #731963; /* Red */ 
}

.etc-button{
	background-color: #B9BFBE; /* Grey */
}

.menu-button{
  /*background-color: #425155;  Dark Greenish Grey */
  background-color: #004d40;
  padding: 10px 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #B9BFBE; /* Grey */
}

.timesList{
	text-align: center;
  margin: auto;
  padding: 5px;
  width: 50%;
	margin-top: 10px;
  }

#addCustom{
	text-align: center;
}

.styled-select{
	background: white;
  font-size: 16px;
  line-height: 1;
}

.times-select{
  height: 80px;
}

.timesList-button{
  margin: 3px;
  /*background-color: #425155;  Dark Greenish Grey */
  background-color: #0B3C49

}

input{
  margin: 5px;
}


.fade-in {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}
.fade-in.ng-enter {
  opacity: 0;
}
.fade-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade-in.ng-leave {
  opacity: 1;
}
.fade-in.ng-leave.ng-leave-active {
  opacity: 0;
}

@media only screen and (max-width: 430px){
  /* for mobile */
  ul{
    float: none;
  }

  #timer_countdown{
    font-size:60px;
  }
}

@media only screen and (max-width: 325px){
  /* for smaller mobile */
  ul{
    float: none;
  }

  #title{
    font-size: 32px;
  }

  #aboutButton{
    display: none;
  }
}