/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#timer_countdown {
	font-size: 500%;
	margin-bottom: 2px;
	margin-top: 2px;
	text-align: center;
}

.styled-button{
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:0 auto;
}

.startButton {
    display: block;
    width: 100px;
    height: 45px;
}

.button-paused{
	background-color: #4CAF50; /* Green */
}

.button-unpaused{
	background-color: #f44336; /* Red */ 
}

.reset-button{
	background-color: #f44336; /* Red */ 
}

.timesList{
	text-align: center;
	margin-top: 10px;
}

#addCustom{
	text-align: center;
}

.styled-select{
	background: white;
	width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 2;
    border-radius: 2;
    height: 34px;
}