<h1 id="timer_countdown">
	{{remainingMinutes}} : {{remainingSeconds}}
</h1>

<button class="startButton styled-button md-whiteframe-4dp" ng-class="{true: 'button-paused', false: 'button-unpaused'}[paused]" 
	ng-click="startOrResume()">{{startButton}}</button>
	
<div class="timesList">
	<select size="3" class="styled-select times-select" ng-model="workTime" ng-options="time.name for time in times"></select>
	<button class="styled-button reset-button" ng-click="reset()">Reset</button>  
</div>

<div id="addCustom">
<button class="styled-button etc-button md-whiteframe-2dp" ng-click="addCustom($event)">Add Custom Time</button>

</div>