<div>
	{{remainingMinutes}} : {{remainingSeconds}}
</div>

<button ng-click="startOrResume()">{{startButton}}</button>
<div>
	<select ng-model="workTime" ng-options="time.name for time in times"></select>
	<button ng-click="reset()">Reset</button>  
</div>
<button ng-click="addCustom()">Add Custom Time</button>

<div ng-show="addingCustom">
	Name: <input ng-model="newCustomName"></input>
	Length in minutes: <select ng-model="newCustomTime" ng-options="time for time in Range(1, 60)"></select>
	<button ng-click="submitCustom()">Submit</button>
</div>